---
layout: default
title: Link Thing
---

{% for post in paginator.posts %}

	<!-- display the date if this post is a different date than the next, or
		 if we are on a new page in the pagination -->
    {% capture curr_date %}{{ post.date | date: "%b %-d, %Y" }}{% endcapture %}
    {% capture next_date %}{{ post.next.date | date: "%b %-d, %Y" }}{% endcapture %}
    {% if curr_date != next_date %}
    <h3>{{ post.date | date: "%b %-d, %Y" }}</h3>
    {% elsif curr_page != paginator.page %}
    <h3>{{ post.date | date: "%b %-d, %Y" }}</h3>    
    {% endif %}
    {% capture curr_page %}{{ paginator.page }}{% endcapture %}
    {% assign curr_page = curr_page | plus: 0 %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}"><i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;{{ post.title }}</a>&nbsp;<a class="anchor" href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}
		<h4>{{ post.host }}</h4>

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}