<h2>Archive for {{ include.year }}</h2>

{% assign this_year = site.posts | where: 'year', include.year | sort: 'date' %}
<h5>{{ this_year | size }} links</h5>

{% if this_year.size == 0 %}
  <h3>No post found</h3>
{% else %}
  {% assign by_month = this_year | group_by: 'month' %}
  {% for month in by_month %}
    <h3><i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i> {{ month.name }}</h3>
    <h5>{{ month.items | size }} links</h5>

    <ul>
    {% for post in month.items %}
      {% if post.external-url %}
      <li>
        <a href="{{ post.external-url }}" onclick="trackOutboundLink('{{ post.external-url }}'); return false;">{{ post.title }}</a>&nbsp;<a class="anchor" href="{{ post.url }}"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
      </li>
      {% else %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>

  {% endfor %}

{% endif %}
