    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="{% link index.html %}"><i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Home</a></li>
          <li><a href="{% link about/index.md %}"><i class="fa fa-info fa-fw" aria-hidden="true"></i> About</a></li>
          <li><a href="{% link archives/index.html %}"><i class="fa fa-archive fa-fw" aria-hidden="true"></i> Archives</a></li>
          <li><a href="{% link collections/index.html %}"><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i> Collections</a></li>
          <li><a href="{% link search.html %}"><i class="fa fa-search fa-fw" aria-hidden="true"></i> Search</a></li>
          <li><a href="{% link feeds/index.md %}"><i class="fa fa-rss fa-fw" aria-hidden="true"></i> Feeds</a></li>
          <li><a href="https://www.thingelstad.com/"><i class="fa fa-external-link fa-fw" aria-hidden="true"></i> blog</a></li>
        </ul>
      </nav>
    </div>
