---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}" onclick="trackOutboundLink('{{ page.external-url }}'); return false;">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
		<div class="host">
			{% if page.scheme == 'https' %} <i class="fa fa-lock" aria-hidden="true"></i> {% endif %}
			{{ page.host }}
		</div>

	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate"><a href="https://pinboard.in/u:thingles/before:{{ page.date | date: "%s" }}" rel="nofollow">{{ page.date | date: "%b %-d, %Y %l:%M:%S %p" }}</a></span></p>

	{% include post-nav.html %}

</article>
