---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}" onclick="trackOutboundLink('{{ page.external-url }}'); return false;">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
		<div class="host">
			{% if page.scheme == 'https' %} <i class="fa fa-lock" aria-hidden="true"></i> {% endif %}
			{{ page.host }}
		</div>

	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %-d, %Y" }}</span></p>

{% assign same_host = site.posts | where: "host", page.host %}
{% if same_host.size > 1 %}
<h3>Other links from {{ page.host }}</h3>
<ul>
{% for p in same_host %}
	{% if p.url != page.url %}
	<li><a href="{{p.url}}">{{ p.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>
{% endif %}

	<div class="postnavigation">

		{% if page.previous %}
			<a class="prev left" href="{{ page.previous.url }}">&larr; {{ page.previous.title | truncatewords: 5 }}</a>
		{% endif %}

		{% if page.next %}
			<a class="next right" href="{{ page.next.url }}">{{ page.next.title | truncatewords: 5 }} &rarr;</a>
		{% endif %}

	</div>


</article>